html

  head
    title Versus

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='/css/layout.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js')
    script(src='/js/layout.js')

  body
    .ui.top.fixed.borderless.main.menu
      .ui.container
        .item
          img(src='/img/logo.png')
        a(href='/dashboard').item Dashboard
        .right.menu
          if user
            .ui.dropdown.item
              | #{user.firstName} #{user.lastName}
              i.dropdown.icon
              .menu
                a(href='/#').item
                  i.setting.icon
                  | Settings
                a(href='/logout').item
                  i.sign.out.icon
                  | Logout
          else
            a(href='/register').item Register
            a(href='/login').item Login

    block content