extends partials/layout-dashboard

block content
  .ui.container
    h1= experiment.dataValues.name
    p= experiment.dataValues.description
    each invite in experiment.Invites
      ul
        | invite
        a(href="/invites/"+invite.dataValues.inviteId)= invite.dataValues.inviteId
    ui.small.images
      each image in experiment.Images
        img.spaced(src=image.dataValues.url, style="padding: 5px;")