extends partials/layout

block content
  .ui.text.container
    if success
      .ui.positive.message #{success}
    if error
      .ui.error.message #{error}

    form.ui.form(method='post' action='')
      h2.ui.dividing.header Account Settings
      .field
        label Current Password
        input(type='password', name='currentPassword', placeholder='Current Password')
      .two.fields
        .field
          label New Password
          input(type='password', name='newPassword', placeholder='New Password')
        .field
          label Confirm New Password
          input(type='password', name='newPasswordConfirm', placeholder='Confirm New Password')
      .field
        button.ui.button.blue.fluid(type='submit') Change Password

      .ui.error.message

  script.
    $(document).ready(function () {
      $('.ui.form').form({
        fields: {
          currentPassword: {
            rules: [
              { type: 'empty', prompt: 'Please enter your current password' }
            ]
          },
          newPassword: {
            rules: [
              { type: 'empty', prompt: 'Please enter your new password' }
            ]
          },
          newPasswordConfirm: {
            rules: [
              { type: 'empty', prompt: 'Please confirm your new password' },
              { type: 'match[newPassword]', prompt: 'Password don\'t match' }
            ]
          }
        }
      });
    });