extends partials/layout

block content
  div
    p #{username}
  div
    table
      tr
        th ID
        th Name
        th Description
        th View
      each experiment in experiments
        tr
          td= experiment.dataValues.id
          td= experiment.dataValues.name
          td= experiment.dataValues.description
          td
            a(href='experiment/' + experiment.dataValues.id) View
  div
    a(href='/experiment/create') Create Experiment
