extends partials/layout

block content
  .ui.container
    h1= experiment.dataValues.name
    p= experiment.dataValues.description
    ui.small.images
      each image in experiment.Images
        img.spaced(src=image.dataValues.url, style="padding: 5px;")