extends partials/layout-client

block content
  .ui.container

    #welcome
      h2 Welcome to Versus!
      p You have been invited to participate in #{name}, an experiment on Versus.
      p Experiments on Versus are super simple, all you need to do is view the two images and click on the one you beleive is better.
      p To participate in this experiment, enter your age and gender below and click start.
      br

    //event response handling
    if errors
      each val in errors
        -var last
        if val != last
          .div(class="alert alert-danger")
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
            p #{val}
        - last = val

    if warnings
      each val in warnings
        -var last
        if val != last
          .div(class="alert alert-warning")
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
            p #{val}
        - last = val

    if success
      each val in success
        -var last
        if val != last
          .div(class="alert alert-success")
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
            p #{val}
        - last = val

    include includes/experimentFront.js

    .ui.form#experimentStart
      .fields
        .two.wide.field
          label Age
          input(type="number" name="ageDrop" min="1" max="100")
        .six.wide.field
          label Gender
          .fields
            .five.wide.field
              select.ui.fluid.search.dropdown(name='genderDrop')
                option(value="male") Male
                  option(value="female") Female
                  option(value="other") Other
            .seven.wide.field
              button.ui.button.purple.fluid(type="button" name="startButton") Start Experiment

    .ui.two.column.grid
      #experiment.row
        .column
          input.ui.centered.fluid.image(type="image" name="ButtonA")
        .column
          input.ui.centered.fluid.image(type="image" name="ButtonB")