extends partials/layout-dashboard

block content
  .ui.text.container
    if error
      .ui.error.message #{error}

    form.ui.form(method='post' action='/experiment/invite')
      input(type='hidden', name='id', value=id)
      h2.ui.dividing.header= name
      .three.fields
        .field
          label Invite to
        .field
          .ui.radio.checkbox
            input(type='radio', name='type', value='collaborate', checked=true)
            label Collaborate
        .field
          .ui.radio.checkbox
            input(type='radio', name='type', value='participate')
            label Participate
      .field
        label Email Addresses
        textarea(name='emails', placeholder='Email Addresses as CSV')
      .field
        button.ui.button.violet.fluid(type='submit') Send Invites

      .ui.error.message

  script.
    $(document).ready(function () {
      $('.ui.form').form({
        fields: {
          type: {
            identifier: 'type',
            rules: [
              {type: 'empty', prompt: 'Please choose which type of invite to send'}
            ]
          },
          email: {
            identifier: 'emails',
            rules: [
              {type: 'empty', prompt: 'Please enter some addresses to send invites to'}
            ]
          }
        }
      });
    });