extends layout

block content
  h1 Failed Login Try Again

  a(href="/") Home
  a(href="/register") Register

  .login

    if errors
      p= val

    form(action="/" method="post")
      h1 Login
      h2 Email
      input(type='email' name='email')
      h2 Password
      input(type='password' name='password')
      br
      br
      input(type='submit')
