extends layout

block content

  a(href="/") Home

  if errors
    each val in errors
      -var last
      if val != last
        p= val
        - last = val

  form(id="regForm" action="/register" method="post")
    h2 Name
    input(type='textbox' name='name')
    h2 Email
    input(type='email' name='email')
    h2 Password
    input(type='password' name='password')
    h2 Verify
    input(type='password' name='passwordv')
    br
    br
    input(type='submit')
